<.header>
    Thank you
    <:subtitle>Your message has been sent successfully.</:subtitle>
</.header>

<p>I appreciate your message and will get back to you as soon as possible.</p>

<.back navigate={~p"/"}>Back to home</.back>
